DATABASE_URL=postgres://user:pass@localhost/musicbowl
SESSION_SECRET=secret
YOUTUBE_API=key
SPOTIFY_API_ID=id
SPOTIFY_API_SECRET=secret
AWS_ACCESS_KEY_ID=id
AWS_SECRET_ACCESS_KEY=key
AWS_BUCKET=bucket-name
